<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



<!-- 순서도 중요합니다 -->
    <link href="../css/layout.css" type="text/css" rel="stylesheet">
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    
    <link href="../css/product-components.css" type="text/css" rel="stylesheet">
    <link href="../css/icon.css" type="text/css" rel="stylesheet">
    <link href="../css/admin/button.css" type="text/css" rel="stylesheet">
    <link href="../css/form.css" type="text/css" rel="stylesheet">

    <link href="../css/product/list.css" type="text/css" rel="stylesheet">
    <link href="../css/util.css" type="text/css" rel="stylesheet"> <!--작은 범위를 담당할 수록 밑으로-->

    <title>Document</title>
</head>
<body>

    



    <section class="menu-section">
        <h1>TEMPLATE 메뉴목록</h1>
        <div th:text="${data}">data 잘 나오니?? </div>


        <section class="menu">

            <form>
                <h1>알랜드 커피</h1>
                
                <div class="menu-img-box">
                    <img class="product-img" src="../image/빵.png" alt="알랜드커피">
                </div>
                    <div class="menu-price">4500원</div>
                    

                <div class="menu-option-list">
                    <span class="menu-option">
                        <input class="menu-option-input" type="checkbox" id="hot" name="menu1" value="알랜드커피">
                        <label>HOT</label>
                    </span>
                    
                    <span class="menu-option">
                        <input class="menu-option-input" type="checkbox" id="ice" name="menu1" value="알랜드커피">
                        <label>ICE</label>
                    </span>
                </div>
                    
                <div class="menu-button-list">
                    <input class="btn btn-default btn-default-line btn-size-1" type="submit"  value="담기">
                    <input class="btn btn-default btn-default-fill btn-size-1" type="submit"  value="주문하기">
                </div>
            </form>
        </section>



        <section class="menu">

            <form>
                <h1>알랜드 커피</h1>
                
                <div class="menu-img-box">
                    <img class="product-img" src="../image/빵.png" alt="알랜드커피">
                </div>
                    <div class="menu-price">4500원</div>
                    

                <div class="menu-option-list">
                    <span class="menu-option">
                        <input class="menu-option-input" type="checkbox" id="hot" name="menu1" value="알랜드커피">
                        <label>HOT</label>
                    </span>
                    
                    <span class="menu-option">
                        <input class="menu-option-input" type="checkbox" id="ice" name="menu1" value="알랜드커피">
                        <label>ICE</label>
                    </span>
                </div>
                    
                <div class="menu-button-list">
                    <input class="btn btn-default btn-default-line btn-size-1" type="submit"  value="담기">
                    <input class="btn btn-default btn-default-fill btn-size-1" type="submit"  value="주문하기">
                </div>
            </form>
        </section>



        <section class="menu">

            <form>
                <h1>알랜드 커피</h1>
                
                <div class="menu-img-box">
                    <img class="product-img" src="../image/빵.png" alt="알랜드커피">
                </div>
                    <div class="menu-price">4500원</div>
                    

                <div class="menu-option-list">
                    <span class="menu-option">
                        <input class="menu-option-input" type="checkbox" id="hot" name="menu1" value="알랜드커피">
                        <label>HOT</label>
                    </span>
                    
                    <span class="menu-option">
                        <input class="menu-option-input" type="checkbox" id="ice" name="menu1" value="알랜드커피">
                        <label>ICE</label>
                    </span>
                </div>
                    
                <div class="menu-button-list">
                    <input class="btn btn-default btn-default-line btn-size-1" type="submit"  value="담기">
                    <input class="btn btn-default btn-default-fill btn-size-1" type="submit"  value="주문하기">
                </div>
            </form>
        </section>
</section>









    <div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        이 페이지 만을 위한 css가 있다면 css/product/list 폴더에 css를 두면된다.<br>
        그런데 이게 다른 페이지에서도 반복된다면...적당한데다가 몰아두세요<br>
        방정리를 잘 알아서 하세요. 답은 절대 없습니다.<br>
        상황에 따라..집중화를...잘..<br>
        <br><br>
        상품리스트 레이아웃을 만든다고 했을 때 이게 반복되서 사용된다면<br>
        상품 컴포넌트라는 css를 따로두어 관리하는것도 방법이 됩니다.<br>
        <br><br><br>

    </div>
    
</body>
</html>